/*
Theme Name: Nathalie_Mota
Template: astra
Author: Stéphanie COUPAMA
Description: Thème enfant basé sur ASTRA.
Version: 1.0
*/

/** HEADER **/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 4px 14px 10px rgba(0, 0, 0, 0.03);
}

nav {
  display: inline-flex;
}

.logo {
  padding-left: 173px;
}

.logo img {
  width: 216px;
  height: 16px;
  margin-left: 20px;
}

.menu {
  padding-left: 514px;
}

.link-primary {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
  gap: 25px;
}

.link-primary li a:hover {
  color: #000000;
  font-weight: 900;
}

.link-primary li {
  list-style-type: none;
}

.link-primary li a {
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--full-black);
  margin-bottom: 0;
}

/** FOOTER **/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  border-top: 2px solid #000;
}

.link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 0;
  padding: 0;
  gap: 80px;
}

.link-footer li a:hover {
  color: #000000;
  font-weight: 900;
}

.link-footer li {
  list-style-type: none;
}

.link-footer li a {
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--full-black);
  margin-bottom: 0;
}

/* BOUTON + PERSONNALISATION FORMULAIRE */

#myBtn {
  margin-top: -9px;
  margin-left: 10px;
  background: none;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  color: black;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#myBtn:hover {
  color: #000000;
  font-weight: 900;
}

label,
legend {
  color: #313144;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="reset"],
input[type="tel"],
input[type="date"],
select,
textarea {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--ast-form-input-text, #475569);
}

.wpcf7 input:not([type="submit"]),
.wpcf7 select,
.wpcf7 textarea {
  width: 263px;
}

.wpcf7 form {
  position: relative;
  margin-left: 145px;
  margin-top: 40px;
}

.wpcf7 textarea {
  resize: none;
  height: 150px;
}

/* BOUTON FORM */

.ast-button,
.button,
input[type="button"],
input[type="submit"] {
  border-radius: 0;
  padding: 18px 80px;
  border: 0;
  text-shadow: none;
  background-color: #d8d8d8;
  color: #000;
  font-family: "Space Mono", monospace;
  width: 263px;
}

.ast-button,
.button,
input[type="button"],
input[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
}

/* MODAL */

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 500;
}

.modal-content {
  margin-top: 45px;
  background-color: white;
  border: solid 5px #000;
  width: 560px;
  height: 730px;
  left: 500px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden; /* Masque les débordements */
  animation-name: animatetop;
  animation-duration: 0.8s;
}

.modal-header .close {
  display: none;
}

.modal-header {
  position: relative;
  width: 100%;
  height: 100px;
}

.modal-header img {
  margin-top: 20px;
  width: 100%;
  height: auto;
  position: absolute;
  transform: scale(1.1); /* Agrandit l'image à 110% de sa taille d'origine */
  transform-origin: center; /* Point d'origine du scale (centre de l'image) */
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 200px;
}

.photo-item {
  text-align: center;
}

.photo-item img {
  width: 564px;
  height: 495px;
  object-fit: cover;
}

.details {
  border-bottom: solid;
  width: 564px;
}

/* photo single-photo */
.attachment-post-thumbnail {
  width: 563px !important;
  height: 844px !important;
  margin-left: 731px !important;
  object-fit: cover;
}

#filter-form {
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}

#categorie,
#format,
#ordre {
  width: 260px;
  height: auto;
}

#categorie {
  margin-left: 140px;
}

#format {
  margin-left: 30px;
}

#ordre {
  margin-left: 380px;
}

/*PAGE DE DETAIL DES PHOTOS */

/* Conteneur principal */
.post {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  margin-top: 60px;
}

.post h2 {
  width: 400px; /* Ajustez selon vos besoins */
  word-wrap: break-word; /* Pour forcer un retour à la ligne si nécessaire */
  white-space: normal; /* Permet les retours à la ligne */
  margin-top: 500px;
  font-size: 66px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  line-height: 58px;
  font-family: "Space Mono", monospace;
}

.post p {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  font-family: "Space Mono", monospace;
}

.post img {
  width: 563px !important;
  height: 844px !important;
  margin-top: 20px;
  object-fit: cover;
}

/* Styles généraux pour les labels */
#popup input[type="text"],
#popup textarea {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
}
form {
  position: relative;
  margin-left: 155px;
  margin-top: 25px;
  width: 263px;
}

#popup textarea {
  resize: none;
  height: 150px;
  width: 263px;
}

#popup button[type="submit"] {
  display: block;
  width: 263px;
  padding: 18px;
  border: none;
  border-radius: 8px;
  background-color: #d8d8d8;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

#popup button[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

/* Styles généraux pour les labels */
#popup input[type="text"],
#popup textarea {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
}
form {
  position: relative;
  margin-left: 155px;
  margin-top: 25px;
  width: 263px;
}

#popup textarea {
  resize: none;
  height: 150px;
  width: 263px;
}

#popup button[type="submit"] {
  display: block;
  width: 263px;
  padding: 18px;
  border: none;
  border-radius: 8px;
  background-color: #d8d8d8;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

#popup button[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

/* Style spécifique pour le conteneur popup */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#popup.hidden {
  display: none;
}

#popup .popup-content {
  margin-top: 45px;
  background-color: white;
  border: solid 5px black;
  width: 560px;
  height: 675px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden; /* Masque les débordements */
  animation-name: animatetop;
  animation-duration: 0.8s;
}

/* Bouton de fermeture */
#popup .popup-close {
  display: none;
}

/* CONTACT SINGLE-PHOTO */
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 34px 0 34px -360px;
}

.info p {
  margin-left: -270px;
  color: #000000;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  margin-top: 25px;
}

.btn-contact {
  background-color: #d8d8d8;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 272px;
  height: 50px;
  margin-left: 100px;
  padding: 8px 15px 8px 15px;
  box-shadow: 0px 2px 1px 0px #00000005;
  font-family: "Space Mono", monospace;
}
.btn-contact:hover {
  color: #ffffff;
  background-color: #000000;
  transform: scale(1.05);
}

/* SECTION VOUS AIMERIZE AUSSI  */
.related-photos-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 70px;
}

.related-photo img {
  width: 564px;
  height: 495px;
  object-fit: cover;
}
.related-photos {
  margin-bottom: 90px;
  border-top: solid;
  max-width: 1200px;
  margin-left: 160px;
}
.related-photos h3 {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: 400;
}

/* PAGINATION SINGLE-PHOTO.PHP  */
.photo-navigation {
  display: flex;
  align-items: center;
  margin-left: 1215px;
  position: relative;
  margin-top: -50px;
}

.photo-navigation .prev-photo,
.photo-navigation .next-photo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo-navigation .nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  font-size: 30px;
}

.photo-navigation .thumbnail-hover,
.photo-navigation .thumbnail-hover1 {
  display: none; /* Masquer la miniature par défaut */
  position: absolute;
  bottom: 60%; /* Position au-dessus du lien */
  /* transform: translateX(-50%); */
  left: 50%;
  width: 80px;
  height: 70px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.photo-navigation .thumbnail-hover1 {
  transform: translateX(-100%);
}
.photo-navigation .hover-thumbnail {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Affiche la miniature au survol du lien */
.photo-navigation .nav-link:hover .thumbnail-hover,
.photo-navigation .nav-link:hover .thumbnail-hover1 {
  display: block;
}

/* Hover (survol) */
.photo-navigation .prev-photo:hover,
.photo-navigation .next-photo:hover {
  transform: scale(1.5);
}

/* Liens désactivés (si pas de précédent ou suivant) */
.photo-navigation .prev-photo:disabled,
.photo-navigation .next-photo:disabled {
  cursor: not-allowed;
  box-shadow: none;
}
.prev-photo {
  width: 25px;
  margin-right: 95px;
}
.next-photo {
  width: 25px;
}

/* Hero Banner  */
.hero-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 962px;
}
.hero-content {
  width: 1000px;
  height: 142px;
}

/* Style pour le bouton "Charger plus" */
#load-more-photos {
  background-color: #d8d8d8;
  color: rgb(0, 0, 0);
  width: 272px;
  height: 50px;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  border: none;
  padding: 15px 30px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  margin-top: 70px;
  margin-left: 620px;
  margin-bottom: 70px;
  box-shadow: 0px 2px 1px 0px #00000005;
}

/* Effet au survol */
#load-more-photos:hover {
  color: #ffffff;
  background-color: #000000;
  transform: translateY(-2px);
}

/* Effet lorsque le bouton est cliqué (enfoncé) */
#load-more-photos:active {
  transform: translateY(0);
}

/* Lorsque le bouton est en cours de chargement */
#load-more-photos:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
